<div class="row">
  <div class="col-xs-12 col-md-4">
    <h1 class="text-center">Find Movies</h1>

    <div class="row">
      <form id="movie-search">
        <div class="col-xs-8">
          <input type="text" name="s" class="form-control" placeholder="Enter Movie Name">
        </div>
        <div class="col-xs-4">
          <button type="submit" class="btn btn-success">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
<br/>
<div class="row">
  <div class="col-sm-8" id="movies"></div>
  <div class="col-sm-4" id="info">
  </div>
</div>
 <input type="submit" class="btn btn-success pull-right" />

 


