
.text{
    font-family: 'Trocchi', serif;    
}
.film {
    float: left;
    padding: 13px 15px;
    font-size: 20px;
    height: 50px;
    color: #ee0808;
    letter-spacing: 5px;
    font-family: 'Trocchi', serif;  
}

.navbar-inverse .film:hover{
     color: #FFF;
     text-decoration:none;
}
.navbar-nav{
  font-size: 14px;
  letter-spacing: 1px;
  font-family: 'Raleway', sans-serif;
}



#movies {
  text-align: justify;
}

.movie-poster {
  width: 150px;
  margin: 15px auto;
  border: 2px solid #dbdbdb;
} 

#review-comment blockquote {
  margin-right: 100px;
}

#review-comment span {
  float: right;
}

.movie-rating {
  font-size: 0.4em;
  // color: #555;
  .fa {
    vertical-align: middle;
    color: #ffd700;
  }
}

.movie-rating-score {
  font-size: 30px;
}

.movie-votes {
  font-weight: 100;
  font-size: 0.3em;
}

.movie-info {
  display: table;
  list-style-type: none;
  margin: 10px auto;
  li {
    color: #777;
    font-size: 11px;
    text-align: center;
    vertical-align: middle;
    padding: 0 5px;
    display: table-cell;
    border-right: 1px solid #ddd;
  }

  li:last-child {
    border-right: none;
  }
}

.about-movie {
  padding: 10px;
  color: #666;
}